{% extends 'layout.html' %}

{% block body %}
{% from "_formhelper.html" import render_field %}
<form method="post" action="">
    <div class="form-group">
         {{render_field(form.fname,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.lname,class_="form-control")}}

    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock %}