{% extends 'layout.html' %}

{% block body %}
<header class="jumbotron text-center" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="inner">
          <h1 id="logo">This is a flask app.</h1>

          <hr>
          <!--/row--> </div>
      </div>
    </header>
{% endblock %}