{% extends 'layout.html' %}

{% block body %}

<h1>Welcome</h1>
<ul class="list-group">
    {% for fname,lname in data1 %}
<li class="list-group-item">{{fname}} {{lname}}</li>
    {% endfor %}

</ul>
{% endblock %}