{% extends 'layout.html' %}

{% block body %}
<header class="jumbotron text-center" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="inner">
          <h1 id="logo">Pdfs</h1>
            <p class="inner">
                {% for j in data %}
                <a href={{j}}>{{j}}</a></br>
                {% endfor %}
            </p>
          <hr>
          <!--/row--> </div>
      </div>
    </header>
{% endblock %}